SmartLightLifxBCI/Emotiv_Smart_Light_LIFX_BCI.json
[
    {
        "id": "de0ea597316bf622",
        "type": "tab",
        "label": "Smart Light LIFX BCI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3cd4be1f8f03bbec",
        "type": "EMOTIV",
        "z": "de0ea597316bf622",
        "name": "EMOTIV",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "4f802961dbd6069c"
            ]
        ]
    },
    {
        "id": "16f738a66a93923e",
        "type": "Mental-Command",
        "z": "de0ea597316bf622",
        "name": "Mental Commands",
        "actionName": "push",
        "mcSen": 10,
        "x": 630,
        "y": 200,
        "wires": [
            [
                "f9bfa6080a097b45",
                "5fdc69abe065818b"
            ]
        ]
    },
    {
        "id": "f9bfa6080a097b45",
        "type": "switch",
        "z": "de0ea597316bf622",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "50",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 850,
        "y": 160,
        "wires": [
            [
                "b364f6b99328df8d"
            ]
        ]
    },
    {
        "id": "5fdc69abe065818b",
        "type": "switch",
        "z": "de0ea597316bf622",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "50",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 850,
        "y": 240,
        "wires": [
            [
                "48099a84972a5290"
            ]
        ]
    },
    {
        "id": "b364f6b99328df8d",
        "type": "lifx-set-state",
        "z": "de0ea597316bf622",
        "name": "",
        "api": "a1bd0ba5079195b4",
        "selector": "",
        "power": "",
        "color": "pink",
        "brightness": "",
        "duration": "",
        "infrared": "",
        "fast": "true",
        "x": 1020,
        "y": 160,
        "wires": []
    },
    {
        "id": "48099a84972a5290",
        "type": "lifx-set-state",
        "z": "de0ea597316bf622",
        "name": "",
        "api": "",
        "selector": "",
        "power": "",
        "color": "green",
        "brightness": "",
        "duration": "",
        "infrared": "",
        "fast": "true",
        "x": 1020,
        "y": 240,
        "wires": []
    },
    {
        "id": "4f802961dbd6069c",
        "type": "Profile-Name",
        "z": "de0ea597316bf622",
        "name": "Profile Name",
        "profileName": "AddTrainedProfile",
        "x": 370,
        "y": 200,
        "wires": [
            [
                "16f738a66a93923e"
            ]
        ]
    },
    {
        "id": "a1bd0ba5079195b4",
        "type": "lifx-config",
        "token": ""
    }
]